html{
    height: 100%;
}
.body-dark{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: monospace;
    transition: 1s all ease;
}
.body-white{
    transition: 1s all ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: monospace;
}
.range{
    width: 20em;
}
p{
    font-size: 1.5em;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-backgroundcolor{
   width: 20em;
   min-height: 5em;
}
.square{
    width: 10em;
    height: 10em;
}
button{
    margin: 1em ;
}
.black-theme-button{
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 0.5em;
    font-size: 2em;
    font-family: monospace;
    border-radius: 10px; 
    transition: all 1s ease;
}
.black-theme-button:active{
    transition: all 0s ease;
    background-color: rgb(83, 83, 83);
}
.white-theme-button{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
    font-size: 2em;
    font-family: monospace;
    border-radius: 10px; 
    transition: all 1s ease;
}
.white-theme-button:active{
    background-color: rgb(187, 187, 187);
}
.square-dark{
    border: 1px solid white;
    
}
.square-white{
    border: 1px solid black;
}
.grid{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.propertie-conteiner{
    margin: 1em;
    display: flex;
    width: fit-content;
    text-wrap: wrap;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 0.2em;
}

